<%= image_tag("IMG_0026_2_2.jpg", class: "style_image") %>

<div class="col-md-8">

  <h1 class="title"> Welcome to the awesome blog, bam!! </h1>
  <hr>

  <% @pods.order("id DESC").each do |pod| %>
  <% like = pod.like_for(current_user) %>
  <% favorite = pod.favorite_for(current_user) %>
  <% tag = pod.tag_for(current_user) %>
  <table>
    <div class="pod">
      <tr>
        <th><h2><%= pod.title %></h2></th>
      </tr>
    </div>

    <div class="pod">
      <tr>
        <td><%= pod.body %></td>
      </tr>
    </div>
  </table>
  <div class="post_edit_delete">
  <% if can? :manage, pod %>
    <%= link_to "Edit", edit_pod_path(pod.id) %> |
    <%= link_to "Delete", pod_path(pod.id), method: :delete, data:
    {confirm: "Are you sure?"} %>
    <% end %>
<br>
<!-- like -->
    <div class="col-xs-6 right">
    <% if pod.liked_by?(current_user) %>
      <%= link_to "Unlike", pod_like_path(pod, like), method: :delete %>
    <% else %>
      <%= link_to "Like", pod_likes_path(pod), method: :post %>
    <% end %>
  | <i class='glyphicon glyphicon-thumbs-up blue'></i>
    <%= pod.likes.count  %>
  <br>
  <!-- favorite  -->
    <% if pod.favorited_by?(current_user) %>
      <%= link_to "Unfavorite", pod_favorite_path(pod, favorite), method: :delete %>
    <% else %>
      <%= link_to "Favorite", pod_favorites_path(pod), method: :post %>
    <% end %>
  | <i class='glyphicon glyphicon-star-empty blue'></i>
    <%= pod.favorites.count  %>
    <%= link_to "- See Favorites", pod_favorites_path(pod) %>
    <br>
    <!-- tag -->
    <% if pod.tagged_by?(current_user) %>
      <%= link_to "Untag", pod_tag_path(pod, tag), method: :delete %>
    <% else %>
      <%= link_to "Tag", pod_tags_path(pod), method: :post %>
    <% end %>
  | <i class='glyphicon glyphicon-tags blue'></i>
    <%= pod.tags.count  %>
    </div>
  </div>

  <%= render "/comments/comments", pod: pod %>

  <hr>
  <% end %>
  <%= paginate @pods %>
</div>

<div class="col-md-3">
  <div class="updates">
  <h3> Blog updates </h3>
    <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper
    nulla non metus auctor fringilla. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo
    cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor
    id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac
    consectetur ac, vestibulum at eros. Morbi leo risus, porta ac
     consectetur ac, vestibulum at eros.
    </p>
  </div>

<div class="updates">
  <h3> Most viewed Post </h3>
    <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper
    nulla non metus auctor fringilla. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo
    cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor
    id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac
    consectetur ac, vestibulum at eros. Morbi leo risus, porta ac
     consectetur ac, vestibulum at eros.
    </p>
</div>
</div>
